<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dongnemon.dao.PlazaDAO">

	<insert id="create">
		insert into tb_plaza_article (
		title, plaza_title, body, img_src)
		values(#{title},#{plaza_title}, #{body}, 'img_src......')
	</insert>

	<select id="read" resultType="PlazaVO">
		select
		*
		from tb_plaza_article
		where id = #{id}
	</select>

	<update id="update">
		update tb_plaza_article
		set title =#{title}, plaza_title=#{plaza_title}, body=#{body},
		img_src = 'img_src', updated_at=now()
		where id = #{id}
	</update>

	<delete id="delete">
		delete from tb_plaza_article where id = #{id}
	</delete>

	<select id="list_topic" resultType="PlazaVO">
		<![CDATA[
		select 
		 *
		from 
		  tb_plaza_article
		where id > 0 and plaza_title = 'TOPIC'
		]]>
	
		<include refid="search"></include>
		
		<![CDATA[
		 order by id desc, created_at desc
		 limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="cntPaging_topic" resultType="int">
		<![CDATA[
			select count(id) from tb_plaza_article
			where id > 0 and plaza_title = 'TOPIC'
		]]>
		<include refid="search"></include>
	</select>
	
	<select id="list_saying" resultType="PlazaVO">
		<![CDATA[
		select 
		  id, title, plaza_title, body, img_src, created_at,
		  cnt_like, cnt_comment
		from 
		  tb_plaza_article
		where id > 0 and plaza_title = 'SAYING'
		]]>
	
		<include refid="search"></include>
		
		<![CDATA[
		 order by id desc, created_at desc
		 limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="cntPaging_saying" resultType="int">
		<![CDATA[
			select count(id) from tb_plaza_article
			where id > 0 and plaza_title = 'SAYING'
		]]>
		<include refid="search"></include>
	</select>

	<sql id="search">
		<if test="keyword!=null">
			and ( title like CONCAT('%', #{keyword}, '%')
			or body like CONCAT('%', #{keyword}, '%'))
		</if>
		
		<!-- <if test="keyword!=null">
			and ( user_id like CONCAT('%', #{keyword}, '%')
			or body like CONCAT('%', #{keyword}, '%')
			or writer like CONCAT('%', #{keyword}, '%')
			)
		</if> -->
	</sql>
	
	<update id="uptReplyCnt">
		update tb_plaza_article set cnt_comment = cnt_comment + #{amount} where id = #{id}
	</update>
	
	<update id="uptLikeCnt">
		update tb_plaza_article set cnt_like = cnt_like + 1 where id = #{id}
	</update>
	
	<insert id="addAttach">
		insert into tb_plaza_attach(img_src, plaza_id) values (#{img_src}, LAST_INSERT_ID())
	</insert>
	
	<select id="getAttach" resultType="string">
		select img_src from tb_plaza_attach where plaza_id = #{plaza_id} order by created_at
	</select>
	
	<delete id="deleteAttach">
		delete from tb_plaza_attach where plaza_id = #{plaza_id}
	</delete>

	<insert id="replaceAttach">
		insert into tb_say_attach(img_src, say_id) values (#{img_src}, #{say_id})
	</insert>
</mapper>